html {
    scroll-behavior: smooth;
}

/* Text Styles */

.title-xl {
    font-family: "Averia Serif Libre", serif;
    font-size: 48px;
    font-weight: 700;
}

.title-l {
    font-family: "Averia Serif Libre", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 135%;
}

.title-m {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 145%;
}

.title-s {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.paragraph-m-m {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.paragraph-m-xs {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}

.paragraph-m-xxs {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.paragraph-r-s {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

.paragraph-r-xs {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 145%;
}

.paragraph-r-xxs {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.quote {
    font-family: "Old Standard TT", serif;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    line-height: 145%;
    max-width: 1168px;
}

/* Color Styles */

.light-grey {
    color: #a8a9a9;
}

.medium-grey {
    color: #63635E;
}

.dark-grey {
    color: #454540;
}

.blue {
    color: #0048F9;
}

.green {
    color: #0048F9;
}

/* Component Styles */

.arrow-icon-m {
    width: 48px;
    height: 48px;
    background-color: #F2F3F4;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon-l {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate-135 {
    transform: rotate(225deg);
}

.icon {
    border-radius: 12px;
    width: 60px;
    height: 60px;
}


.contact {
    max-width: 20ch;
}

.contact a:hover {
    text-decoration: underline;
}

/* Body */

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #FDFDFC;
    color: #222222;
}

/* Navbar */

header {
    padding: 24px 0px;
    width: 100%;
}

.check {
    display: none;
}

#mobile-navbar {
    display: none;
}

#navbar {
    width: 90vw;
    max-width: 1168px;
    margin: 0px auto;
    padding: 12px 24px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#logo {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    transition: all 0.3s ease-in-out;
}

#logo:hover {
    color: #0048F9;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navlink {
    display: inline-flex;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    transition: all 0.3s ease-in-out;
}

.navlink-current {
    display: inline-flex;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
}

.navlink-current:hover {
    color: #0048F9;
}


.navlink:hover {
    color: #0048F9;
}

#contact-button-desktop {
    background: #0048F9;
    color: #F2F3F4;
    padding: 16px 24px;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}

#contact-button-desktop:hover {
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.04);
    transform: scale(1.015);
}

#contact-button-mobile {
    display: none;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* Hero */

#hero {
    width: 90vw;
    max-width: 1168px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 152px 0 152px 0;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title h1 {
    max-width: 15ch;
}

#title h2 {
    max-width: 40ch;
}

#project-data {
    width: 90vw;
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0px 0px 0px;
}

.data-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

/* Project Section */

.project-section {
    width: 90vw;
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 72px;
    padding: 0px 0px 152px 0px;
}

.section-title {
    width: 90vw;
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.section-text {
    width: 70%;
    max-width: 832px;
    margin: 0 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.title-paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.four-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.process-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.two-columns-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one-column {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

/* Design Step */

.design-step {
    width: 90vw;
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 152px 0;
    gap: 64px;
}

.last {
    padding: 0 0 76px 0;
}

.first {
    padding: 76px 0 0 0;
}

.line-title-paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.line-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.line-title-paragraph p {
    width: 70%;
    max-width: 832px;
}

.line {
    background-color: #B6B7BD;
    width: 100%;
    height: 1px;
}

.design-step img {
    width: 100%;
}

/* Hi-Fi */

#hi-fi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 152px;
}

.one-prototype {
    width: 90vw;
    max-width: 1168px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-prototype {
    width: 20vw;
    max-width: 270px;
}

.prototype-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.two-prototypes {
    width: 90vw;
    max-width: 1168px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}

/* Footer */
footer {
    width: 90vw;
    max-width: 1168px;
    margin: 152px auto 24px auto;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    gap: 152px;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.copyright a {
    transition: all 0.3s ease-in-out;
}

.copyright a:hover {
    color: #0048F9;
}

/* Case Study in progress */

#white-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 19.27%, #FFFFFF 37.5%);
    width: 100%;
    height: 440px;
    position: absolute;
    left: 0px;
    top: 1583px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* Text Styles */

    .title-xl {
        font-size: 28px;
        font-weight: 500;
        line-height: 125%;
    }

    .title-l {
        font-size: 24px;
        font-weight: 500;
        line-height: 135%;
    }

    .title-m {
        font-size: 18px;
        font-weight: 400;
        line-height: auto;
    }

    .title-s {
        font-size: 16px;
        font-weight: 300;
        line-height: 135%;
    }

    .paragraph-m-m {
        font-weight: 500;
        font-size: 14px;
        line-height: auto;
    }

    .paragraph-m-s {
        font-weight: 500;
        font-size: 14px;
        line-height: auto;
    }

    .paragraph-m-xs {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
    }

    .paragraph-r-s {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }

    .paragraph-r-xs {
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
    }

    .paragraph-list {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    /* Mobile Styles */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Navbar */
    #mobile-navbar {
        background-color: #FDFDFC;
        width: 100vw;
        height: 100vh;
        padding: 35vh 32px 32px 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        -webkit-user-select: none;
        user-select: none;
        transform: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.35s ease;
    }

    .check {
        display: block;
        position: absolute;
        top: 32px;
        right: 24px;
        opacity: 0;
        z-index: 2000;
        -webkit-touch-callout: none;
    }

    .check:checked~#mobile-navbar {
        opacity: 1;
        pointer-events: auto;
    }

    .navlink-mobile {
        color: #222222;
        font-size: 32px;
    }

    #contact-button-close {
        display: block;
        background-color: transparent;
        color: #222222;
        width: 48px;
        height: 48px;
        font-size: 40px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1600;
        -webkit-touch-callout: none;
    }

    #navbar {
        width: calc(100vw - 60px);
        padding: 12px 12px 12px 16px;
        border-radius: 20px;
    }

    #logo {
        font-size: 18px;
    }

    .navlink {
        display: none;
    }

    .navlink-current {
        display: none;
    }

    #contact-button-desktop {
        display: none;
    }

    #contact-button-mobile {
        display: block;
        background: transparent;
        color: #222222;
        padding: 12px 0px;
        font-size: 16px;
    }

    /* Hero */

    #hero {
        width: calc(100vw - 64px);
        padding: 40px 16px 40px 16px;
        gap: 24px;
        align-items: flex-start;
    }

    #title {
        flex-direction: column;
        gap: 8px;
    }

    #title h2 {
        max-width: 100%;
    }

    #project-data {
        padding: 16px 0px 0px 0px;
        flex-wrap: wrap;
    }

    .data-column {
        width: 40%;
        gap: 0px;
        margin-bottom: 16px;
    }

    #hero img {
        width: 100%;
    }

    /* Project Section */

    .project-section {
        gap: 24px;
        padding: 0 0 72px 0;
        width: calc(100vw - 64px);
    }

    .section-title {
        width: 100%;
    }

    .section-text {
        width: 100%;
        margin: 0 auto;
    }

    .four-columns {
        flex-wrap: wrap;
    }

    .process-column {
        width: 40%;
        margin-bottom: 16px;
    }

    .two-columns-grid {
        gap: 16px;
    }

    .two-columns {
        flex-direction: column;
        gap: 16px;
    }

    .one-column {
        width: 100%;
    }

    /* Design Step */

    .design-step {
        gap: 24px;
        padding: 0 0 72px 0;
        width: calc(100vw - 64px);
    }

    .last {
        padding: 0 0 36px 0;
    }

    .first {
        padding: 36px 0 0 0;
    }

    .line-title {
        gap: 8px;
    }

    .line-title-paragraph {
        gap: 16px;
    }

    .line-title-paragraph p {
        width: 100%;
    }

    /* Hi-Fi */

    #hi-fi {
        gap: 72px;
    }

    /* Case Study in progress */

    #white-overlay {
        height: 500px;
        top: 700px;
    }

    /* Footer */

    footer {
        margin: 72px auto 24px auto;
        gap: 72px;
    }
}