html {
    scroll-behavior: smooth;
}

/* Text Styles */

.title-xl {
    font-family: "Averia Serif Libre", serif;
    font-size: 48px;
    font-weight: 700;
}

.title-l {
    font-family: "Averia Serif Libre", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 135%;
}

.title-m {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 145%;
}

.title-s {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 145%;
}

.paragraph-m-m {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.paragraph-m-xs {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
}

.paragraph-m-xxs {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.paragraph-r-s {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

.paragraph-r-xs {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 145%;
}

.paragraph-r-xxs {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.quote {
    font-family: "Old Standard TT", serif;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    line-height: 145%;
    max-width: 976px;
}

/* Color Styles */

.light-grey {
    color: #a8a9a9;
}

.medium-grey {
    color: #63635E;
}

.dark-grey {
    color: #454540;
}

.blue {
    color: #0048F9;
}

/* Component Styles */

.arrow-icon-m {
    width: 48px;
    height: 48px;
    background-color: #F2F3F4;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon-l {
    width: 49px;
    height: 49px;
    background-color: #585962;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    border-radius: 12px;
    width: 49px;
    height: 49px;
}


.contact {
    max-width: 20ch;
}

.contact a:hover {
    text-decoration: underline;
}

/* Body */

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #FDFDFC;
    color: #222222;
}

/* Navbar */

header {
    padding: 24px 0px;
    width: 100%;
}

.check {
    display: none;
}

#mobile-navbar {
    display: none;
}

#navbar {
    width: 90vw;
    max-width: 1168px;
    margin: 0px auto;
    padding: 12px 24px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#logo {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    transition: all 0.3s ease-in-out;
}

#logo:hover {
    color: #0048F9;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navlink {
    display: inline-flex;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    transition: all 0.3s ease-in-out;
}

.navlink-current {
    display: inline-flex;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
}

.navlink-current:hover {
    color: #0048F9;
}

.navlink:hover {
    color: #0048F9;
}

#contact-button-desktop {
    background: #0048F9;
    color: #F2F3F4;
    padding: 16px 24px;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}

#contact-button-desktop:hover {
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.04);
    transform: scale(1.015);
}

#contact-button-mobile {
    display: none;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* Hero */

#hero {
    width: 90vw;
    max-width: 1168px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 152px 0 0 0;
}

#title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 70ch;
}

#hero-images {
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

#hero-left {
    width: calc(30vw - 16px);
    height: 40vw;
    max-height: 430px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#hero-left-up {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
}

#hero-left-up img {
    width: 140%;
}

#hero-button {
    background-color: #F2F3F4;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 20px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
}

#hero-button:hover {
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.04);
    transform: scale(1.015);
}

#hero-right {
    background-color: #F2F3F4;
    width: calc(70vw - 16px);
    height: 40vw;
    max-height: 430px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-right video {
    width: 120%;
}

/* About intro */
#about-intro {
    width: 90vw;
    max-width: 1168px;
    margin: 152px auto 0 auto;
}

#about-intro h2 {
    max-width: 51ch;
    padding: 0 24px 0 24px;
}

/* Work */

#work {
    width: 90vw;
    max-width: 1168px;
    margin: 152px auto 0 auto;
    scroll-margin-top: 132px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 0 152px 0;
}

.project-bar {
    background-color: rgba(242, 243, 244, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 16px;
    border-radius: 24px;

}

.icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.title-intro {
    color: #1D1916;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.two-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.two-images img {
    width: calc(50% - 16px);
}

/* Footer */
footer {
    width: 90vw;
    max-width: 1168px;
    margin: 152px auto 24px auto;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    gap: 152px;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.copyright a {
    transition: all 0.3s ease-in-out;
}

.copyright a:hover {
    color: #0048F9;
}

/* Responsive Design */

@media (max-width: 767px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* Text Styles */

    .title-l {
        font-size: 32px;
        font-weight: 500;
        line-height: 135%;
    }

    .title-m {
        font-size: 18px;
        font-weight: 400;
        line-height: auto;
    }

    .title-s {
        font-size: 16px;
        font-weight: 300;
        line-height: auto;
    }

    .paragraph-m-m {
        font-weight: 500;
        font-size: 16px;
        line-height: auto;
    }

    .paragraph-r-s {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
    }

    .paragraph-r-xs {
        font-weight: 400;
        font-size: 12px;
        line-height: 145%;
    }

    /* Mobile Styles */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Navbar */

    #mobile-navbar {
        background-color: #FDFDFC;
        width: 100vw;
        height: 100vh;
        padding: 35vh 32px 32px 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        -webkit-user-select: none;
        user-select: none;
        transform: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.35s ease;
    }

    .check {
        display: block;
        position: absolute;
        top: 32px;
        right: 24px;
        opacity: 0;
        z-index: 2000;
        -webkit-touch-callout: none;
    }

    .check:checked~#mobile-navbar {
        opacity: 1;
        pointer-events: auto;
    }

    .navlink-mobile {
        color: #222222;
        font-size: 32px;
    }

    #contact-button-close {
        display: block;
        background-color: transparent;
        color: #222222;
        width: 48px;
        height: 48px;
        font-size: 40px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1600;
        -webkit-touch-callout: none;
    }

    #navbar {
        width: calc(100vw - 60px);
        padding: 12px 12px 12px 16px;
        border-radius: 20px;
    }

    #logo {
        font-size: 18px;
    }

    .navlink {
        display: none;
    }

    .navlink-current {
        display: none;
    }

    #contact-button-desktop {
        display: none;
    }

    #contact-button-mobile {
        display: block;
        background: transparent;
        color: #222222;
        padding: 12px 0px;
        font-size: 16px;
    }

    /* Hero */

    #hero {
        width: calc(100vw - 64px);
        padding: 40px 16px 0 16px;
        gap: 24px;
        align-items: flex-start;
    }

    #hero-images {
        height: 70vw;
        max-height: 400px;
        flex-direction: column-reverse;
        gap: 8px;
    }

    #hero-button {
        width: calc(100% - 28px);
        padding: 12px 12px 12px 16px;
        border-radius: 20px;
    }

    .arrow-icon-m {
        width: 36px;
        height: 36px;
        border-radius: 12px;
    }

    .arrow-icon-m img {
        width: 14px;
    }


    #hero-right {
        border-radius: 20px;
    }

    /* About intro */
    #about-intro {
        margin: 72px auto 0 auto;
    }

    #about-intro h2 {
        max-width: 100%;
        padding: 0 32px 0 32px;
    }

    /* Work */

    #work {
        width: calc(100vw - 64px);
        margin: 48px auto 0 auto;
    }

    .project {
        gap: 8px;
        margin: 0 0 56px 0;
    }

    .project-bar {
        border-radius: 20px;

    }

    .icon-title {
        gap: 8px;
    }

    .icon {
        width: 41px;
        height: 41px;
    }

    .arrow-icon-l {
        display: none;
    }

    .two-images {
        display: none;
    }

    /* Footer */

    footer {
        margin: 72px auto 24px auto;
        gap: 72px;
    }
}
