RewriteEngine On

# Si la solicitud no es una solicitud directa a un archivo o directorio existente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# ... y si la URL no contiene un punto (para evitar reescribir extensiones de archivos existentes)
RewriteCond %{REQUEST_URI} !\.[^./]+$
# Redirige la URL a la versión .php correspondiente
RewriteRule ^(.*)$ $1.php [L]